#FrontPageBody {
	background-image: url("bg.png");
}

#PolyBrawlBody {
	background: url("polybg1.png") left top no-repeat, url("polybg2.png") center fixed no-repeat;
	background-size: 1920px 1079px;
}

#ExplorersRealmBody {
	background: url("erbg1.png") center fixed no-repeat;
}

@font-face { font-family: Product; src: url('product.ttf'); }

p, h1, h2, h3, h4, a, strong, em, a {
	text-align: center;
	color: rgb(244, 244, 244);
	font-family: Product;
}
